.container {
    margin-top: 30px;
}

@media only screen and (max-width: 1460px) {
.container {
        margin-top: 30px;
        margin-left:30px;
    }
}

.indexList {
  list-style: circle;
}

.euiPopover--anchorLeftCenter .euiPopover__panel:after {
      border-left: 16px solid #005472;
}

.euiLink.euiLink--primary:hover {
    color: #04bbf9d6;
}

.euiLink.euiLink--primary {
    color: #7dd6f7;
}

button.euiButtonIcon.euiButtonIcon--text.euiModal__closeIcon{
  position: fixed;
  right: 30%;
}
